@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-body: "Ubuntu", sans-serif;  
  --color-black: #111111;
  --color-gray: #19191A;
}

@layer base {
  body{
    @apply bg-black text-white font-body overflow-x-clip;
  }
}